
Thumbs.db
Programa/ProjMarcia/ProjetoMarcia/.vs/ProjetoMarcia/v15/.suo
Programa/ProjMarcia/ProjetoMarcia/.vs/ProjetoMarcia/v15/.suo
Programa/ProjMarcia/ProjetoMarcia/.vs/ProjetoMarcia/v15/Server/sqlite3/storage.ide
Programa/ProjMarcia/ProjetoMarcia/ProjetoMarcia/bin/Debug/ProjetoMarcia.exe
*.pdb
*.pdb
*.resources
